// fonts
@import url("https://fonts.googleapis.com/css?family=Karla:400|Poppins:400");

// partials
@import "./partials/_vars";
@import "./partials/_resets";
@import "./partials/_mixins";
@import "./partials/_animations";
@import "./partials/_functions";

// components
@import "./components/Header";
@import "./components/Hero";
@import "./components/Footer";

html {
  // 16px
  font-size: 100%;
}

body {
  font-family: $ff-body;
  font-weight: $fw-body;
  line-height: $ln-height;

  color: $clr-text;
  background-color: $clr-bg;
}

p {
  max-width: 40em;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;

  line-height: 1.3;
  font-weight: $fw-body;
  font-family: $ff-heading;
  text-transform: capitalize;
  letter-spacing: $ltr-spacing;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
  object-fit: cover;
  -o-object-fit: cover;
}

a,
ul {
  color: inherit;
  text-decoration: none;
}

a:hover,
li:hover {
  color: $clr-hover;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* button */
button {
  cursor: pointer;
  border: transparent;
  display: inline-block;
  border-radius: $brd-radius;
  text-transform: capitalize;
  letter-spacing: $ltr-spacing;
  padding: 0.375rem 0.75rem;
  box-shadow: $shadow;
  -webkit-transition: $transition;
  transition: $transition;

  color: $clr-white;
  background-color: $clr-primary-500;

  &:hover {
    box-shadow: $shadow-lg;
    background-color: $clr-primary-700;
  }
}

.btn-block {
  width: 100%;
}

.btn-funky {
  color: $clr-primary-500;
  border-color: red;
  background-color: $clr-primary-200;

  &:hover {
    color: $clr-primary-500;
    background-color: $clr-primary-200;
  }
}

// form
form {
  width: 90vw;
  max-width: $fixed-width;

  box-shadow: $shadow-md;
  border-radius: $brd-radius;

  margin: 3rem auto;
  padding: 2rem 2.5rem;

  .form-row {
    margin-bottom: 1rem;
  }

  .form-alert {
    color: $clr-red-dark;
    letter-spacing: $ltr-spacing;
    text-transform: capitalize;
  }
  button {
    display: block;
    margin: 0 auto;
  }

  label {
    display: block;
    font-size: $fs-small;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: $ltr-spacing;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    background-color: $clr-bg;
    border-radius: $brd-radius;
    border: 1px solid $clr-grey-200;
  }

  textarea {
    height: 7rem;
    /* Hide the scrollbar but keeps the functionality */

    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  textarea::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-input-placeholder {
    font-family: inherit;
    color: $clr-grey-400;
  }

  ::-moz-placeholder {
    font-family: inherit;
    color: $clr-grey-400;
  }

  :-ms-input-placeholder {
    font-family: inherit;
    color: $clr-grey-400;
  }

  ::-ms-input-placeholder {
    font-family: inherit;
    color: $clr-grey-400;
  }

  ::placeholder {
    font-family: inherit;
    color: $clr-grey-400;
  }
}

// alerts
.alert {
  width: 90vw;
  max-width: $fixed-width;

  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  border-color: transparent;
  border-radius: $brd-radius;

  color: $clr-black;
  background-color: $clr-white;
}

.alert-danger {
  color: $clr-red-dark;
  background-color: $clr-red-light;
}

.alert-success {
  color: $clr-green-dark;
  background-color: $clr-green-light;
}

.small,
.text-small {
  font-size: $fs-small;
}

.loading {
  width: 6rem;
  height: 6rem;

  margin: 0 auto;
  border-radius: 50%;
  border: 0.5rem solid $clr-grey-400;
  border-top-color: $clr-primary-500;
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
}

// title
.title h2 {
  text-align: center;
  margin-bottom: -1rem;
}

.title-underline {
  width: 7rem;
  height: 0.25rem;

  margin: 1rem auto;
  background-color: $clr-primary-500;
}

.section-center {
  width: 85vw;
  max-width: 1170px;

  margin: 0 auto;
  padding: 1rem 0;
}

.main {
  // height: calc(100vh - 7rem - 5rem);
  gap: 0rem;
  display: grid;
  place-items: center;
}
