@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700");

nav {
  font-weight: bolder;
  box-shadow: $shadow-lg;

  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);

  .logo {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: $spacing;
    text-transform: capitalize;
    text-decoration: line-through;

    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, #f22),
      color-stop(0.15, #f2f),
      color-stop(0.3, #22f),
      color-stop(0.45, #2ff),
      color-stop(0.6, #2f2),
      color-stop(0.75, #2f2),
      color-stop(0.9, #ff2),
      color-stop(1, #f22)
    );
    background-image: gradient(
      linear,
      left top,
      right top,
      color-stop(0, #f22),
      color-stop(0.15, #f2f),
      color-stop(0.3, #22f),
      color-stop(0.45, #2ff),
      color-stop(0.6, #2f2),
      color-stop(0.75, #2f2),
      color-stop(0.9, #ff2),
      color-stop(1, #f22)
    );

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .social-icons {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;

    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  nav {
    .nav-logo {
      width: 15rem;
      height: 4rem;
    }

    .social-icons {
      font-size: 1.75rem;
    }
  }
}
