main {
  text-transform: capitalize;

  .title {
    border-bottom: 0.3rem solid $clr-white;
  }

  .alert {
    display: none;
    width: 55%;
    transition: $transition;
  }

  .alert-danger,
  .alert-success {
    display: block;
  }

  .task {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);

    .task-left {
      display: grid;
    }

    .task-right {
      display: grid;
      gap: 0.75rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  form {
    margin: 0;
    padding: 0;
  }
}
